h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* background-image: linear-gradient(to right, tomato, transparent); */
}

h1.disabled {
  text-shadow: tomato 3px 2px;
  color: floralwhite;
}

h1.enabled {
  text-shadow: floralwhite 3px 2px;
  color: tomato;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

fieldset {
  display: flex;
}

input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  width: 120px;
}

.journal_entry {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: floralwhite;
  border-radius: 10px;
  border: solid 1px tomato;
  padding: 5px;
  margin: 10px;
}

.journal_entry > h2.disabled {
  text-shadow: tomato 2px 1.5px;
  color: purple;
}

.journal_entry > .date > .date_class {
  text-shadow: tomato 1px 1px;
  color: purple;
}
.journal_entry > .entry > .entry_class {
  text-shadow: tomato 1px 1px;
  color: purple;
}
.journal_entry > .mood > .mood_class {
  text-shadow: tomato 1px 1px;
  color: purple;
}
